# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven target folder
target/

# The pom.xml file produced by the maven-shade-plugin that does not include dependencies for
# the libraries whose contents are included in the fat jar.
dependency-reduced-pom.xml

# IDE
.idea
.vscode
